USE [master]
GO
/****** Object:  Database [WinPoint-Digitization]    Script Date: 29-06-2020 11:17:43 ******/
CREATE DATABASE [WinPoint-Digitization]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OES_TESTING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\OES_TESTING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OES_TESTING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\OES_TESTING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinPoint-Digitization].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinPoint-Digitization]
GO
/****** Object:  Table [dbo].[BATCH_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATCH_DETAILS](
	[BATCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[BATCH_NAME] [varchar](50) NOT NULL,
	[BATCH_TIME] [time](7) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[FACULTY_USER_ID] [int] NULL,
	[BEGIN_DATE] [date] NULL,
	[CURRENT_LECTURE_NUMBER] [tinyint] NOT NULL,
	[LECTURE_DURATION] [time](7) NOT NULL,
	[TOTAL_NUMBER_OF_LECTURES] [tinyint] NOT NULL,
	[SEGMENT_TYPE_ID] [tinyint] NULL,
	[END_DATE] [date] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_BATCH_ID_PK] PRIMARY KEY CLUSTERED 
(
	[BATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT_CATEGORY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT_CATEGORY](
	[CLIENT_CATEGORY_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[CLIENT_CATEGORY_NAME] [varchar](20) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_CLIENT_CATEGORY_ID_PK] PRIMARY KEY CLUSTERED 
(
	[CLIENT_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_FEEDBACK]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_FEEDBACK](
	[USER_ID] [int] NULL,
	[COURSE_ID] [smallint] NULL,
	[FEEDBACK_QUESTION_ID] [tinyint] NULL,
	[RESPONSE] [varchar](150) NULL,
	[MARK_FOR_REVIEW] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_TYPE](
	[COURSE_TYPE_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[COURSE_TYPE_NAME] [varchar](10) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_COURSE_TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[COURSE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[COURSE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[COURSE_NAME] [varchar](100) NULL,
	[PRE_REQUISITE] [varchar](50) NOT NULL,
	[DURATION] [smallint] NULL,
	[FEES] [decimal](7, 2) NULL,
	[STREAM_ID] [tinyint] NULL,
	[COURSE_TYPE_ID] [tinyint] NULL,
	[COURSEWARE_EXIST] [varchar](3) NULL,
	[EVALUATION_TYPE_ID] [tinyint] NULL,
	[TOTAL_TESTS] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[LOGO_LOCATION] [varchar](500) NULL,
 CONSTRAINT [OES_COURSE_ID_PK] PRIMARY KEY CLUSTERED 
(
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIFFICULTY_LEVEL]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIFFICULTY_LEVEL](
	[DIFFICULTY_LEVEL_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DIFFICULTY_LEVEL_NAME] [varchar](10) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_DIFFICULTY_LEVEL_ID_PK] PRIMARY KEY CLUSTERED 
(
	[DIFFICULTY_LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_CATEGORY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_CATEGORY](
	[EMPLOYEE_CATEGORY_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CATEGORY_NAME] [varchar](30) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_EMPLOYEE_CATEGORY_ID_PK] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_DETAILS](
	[USER_ID] [int] NULL,
	[SALARY] [decimal](8, 2) NULL,
	[DATE_OF_JOINING] [date] NULL,
	[EMPLOYEE_CATEGORY_ID] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENQUIRY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENQUIRY](
	[ENQUIRY_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](20) NOT NULL,
	[LAST_NAME] [varchar](20) NOT NULL,
	[EMAIL_ID] [varchar](100) NOT NULL,
	[MOBILE_NO] [varchar](15) NOT NULL,
	[ADDRESS] [varchar](100) NULL,
	[BIRTH_DATE] [date] NULL,
	[COLLEGE] [varchar](50) NOT NULL,
	[DEGREE] [varchar](10) NOT NULL,
	[BRANCH] [varchar](50) NOT NULL,
	[OCCUPATION] [varchar](20) NULL,
	[ORGANISATION] [varchar](100) NULL,
	[DESIGNATION] [varchar](20) NULL,
	[DOMAIN] [varchar](20) NULL,
	[ROLE] [varchar](20) NULL,
	[EXPERIENCE] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[DATE_OF_ENQUIRY] [date] NOT NULL,
	[GENDER] [varchar](100) NOT NULL,
	[YEAR_OF_GRADUATION] [int] NULL,
	[RECOMMENDATION] [varchar](20) NULL,
	[ELIGIBILITY] [bit] NOT NULL,
	[COURSE_INTERESTED_IN] [int] NOT NULL,
	[REFERENCE] [varchar](50) NULL,
	[TIME_SLOTS_ID] [int] NOT NULL,
	[COURSE_ALREADY_DONE] [int] NULL,
	[START_DATE] [date] NOT NULL,
	[SEGMENT_TYPE_ID] [tinyint] NOT NULL,
	[SUGGESTION] [varchar](100) NULL,
	[ACTIVE_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_ENQUIRY] PRIMARY KEY CLUSTERED 
(
	[ENQUIRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_EMAIL_ID] UNIQUE NONCLUSTERED 
(
	[ENQUIRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK1_MOBILE_NO] UNIQUE NONCLUSTERED 
(
	[MOBILE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUATION_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUATION_TYPE](
	[EVALUATION_TYPE_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[EVALUATION_TYPE_NAME] [varchar](100) NULL,
	[OFFLINE_CHECK] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_EVAL_TYPE_ID_PK] PRIMARY KEY CLUSTERED 
(
	[EVALUATION_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE_DETAIL]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE_DETAIL](
	[EXPENSE_DETAIL_ID] [int] NOT NULL,
	[EXPENSE_TYPE_ID] [tinyint] NULL,
	[EXPENSE_DATE] [date] NULL,
	[EXPENSE_AMOUNT] [decimal](18, 0) NULL,
	[EXPENSE_DESCRIPTION] [varchar](100) NULL,
	[COURSE_ID] [smallint] NULL,
	[BATCH_ID] [int] NULL,
	[PAYMENT_MODE_ID] [tinyint] NULL,
	[CHEQUE_NUMBER] [varchar](30) NULL,
	[SEGMENT_TYPE_ID] [tinyint] NULL,
	[ORGANIZATION_ID] [int] NULL,
	[RECIEPT_NUMBER] [varchar](10) NULL,
 CONSTRAINT [PK_EXPENSE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE_TYPE](
	[EXPENSE_TYPE_ID] [tinyint] NOT NULL,
	[EXPENSE_TYPE_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_EXPENSE_TYPE] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACULTY_SKILLS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY_SKILLS](
	[FACULTY_USER_ID] [int] NULL,
	[SEGMENT_TYPE_IDS] [varchar](50) NULL,
	[TIME_SLOTS_IDS] [varchar](30) NULL,
	[SKILL_SET_IDS] [varchar](150) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK_CATEGORY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK_CATEGORY](
	[FEEDBACK_CATEGORY_ID] [tinyint] NOT NULL,
	[FEEDBACK_CATEGORY_DESCRIPTION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_FEEDBACK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK_QUESTIONS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK_QUESTIONS](
	[FEEDBACK_QUESTION_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[FEEDBACK_CATEGORY_ID] [tinyint] NOT NULL,
	[FEEDBACK_QUESTION] [varchar](200) NULL,
	[FEEDBACK_QUESTION_TYPE] [varchar](20) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_FEEDBACK_QUESTIONS] PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERAL_APTITUDE_QUESTION_BANK]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK](
	[QUESTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[TOPIC_ID] [smallint] NULL,
	[QUESTION] [varchar](max) NULL,
	[OPTION_1] [varchar](200) NULL,
	[OPTION_2] [varchar](200) NULL,
	[OPTION_3] [varchar](200) NULL,
	[OPTION_4] [varchar](200) NULL,
	[CORRECT_OPTION] [varchar](10) NULL,
	[MARKS] [tinyint] NULL,
	[EXPLANATION] [varchar](500) NULL,
	[DIFFICULTY_LEVEL_ID] [tinyint] NULL,
	[IN_CRT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [general_aptitude_OES_QB_Q_ID_PK] PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADING_SYSTEM]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADING_SYSTEM](
	[GRADE_ID] [varchar](2) NOT NULL,
	[LOWER_LIMIT] [smallint] NULL,
	[HIGHER_LIMIT] [smallint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_GRADE_ID_PK] PRIMARY KEY CLUSTERED 
(
	[GRADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURE](
	[LECTURE_ID] [int] NOT NULL,
	[BATCH_ID] [int] NOT NULL,
	[LECTURE_NUMBER] [tinyint] NOT NULL,
	[LECTURE_DURATION] [time](7) NULL,
	[START_TIME] [time](7) NULL,
	[LECTURE_COVERAGE] [varchar](100) NULL,
	[LECTURE_DATE] [date] NULL,
	[COMMENTS] [varchar](200) NULL,
	[ABSENTEES] [varchar](100) NULL,
 CONSTRAINT [PK_LECTURE] PRIMARY KEY CLUSTERED 
(
	[LECTURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATION](
	[ORGANIZATION_ID] [int] NOT NULL,
	[ORGANIZATION_NAME] [varchar](100) NULL,
	[ORGANIZATION_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_ORGANIZATION] PRIMARY KEY CLUSTERED 
(
	[ORGANIZATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_MODE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_MODE](
	[PAYMENT_MODE_ID] [tinyint] NOT NULL,
	[PAYMENT_MODE_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_PAYMENT_MODE] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_MODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMINDER_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMINDER_TYPE](
	[REMINDER_TYPE_ID] [int] NOT NULL,
	[REMINDER_TYPE_CATEGORY] [varchar](200) NOT NULL,
 CONSTRAINT [PK_REMINDER_TYPE] PRIMARY KEY CLUSTERED 
(
	[REMINDER_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVENUE_DETAIL]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVENUE_DETAIL](
	[REVENUE_DETAIL_ID] [int] NOT NULL,
	[REVENUE_TYPE_ID] [tinyint] NULL,
	[RECIEPT_NUMBER] [varchar](10) NULL,
	[PAYER_DESCRIPTION] [varchar](100) NULL,
	[COURSE_ID] [smallint] NULL,
	[BATCH_ID] [int] NULL,
	[REVENUE_AMOUNT] [decimal](18, 0) NULL,
	[PAYMENT_MODE_ID] [tinyint] NULL,
	[CHEQUE_NUMBER] [varchar](30) NULL,
	[SEGMENT_TYPE_ID] [tinyint] NULL,
	[ORGANIZATION_ID] [int] NULL,
 CONSTRAINT [PK_REVENUE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[REVENUE_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVENUE_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVENUE_TYPE](
	[REVENUE_TYPE_ID] [tinyint] NOT NULL,
	[REVENUE_TYPE_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_REVENUE_TYPE] PRIMARY KEY CLUSTERED 
(
	[REVENUE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[ROOM_ID] [smallint] NOT NULL,
	[ROOM_CAPACITY] [smallint] NOT NULL,
	[ROOM_AVAILABLE] [bit] NULL,
 CONSTRAINT [PK_ROOM_TABLE] PRIMARY KEY CLUSTERED 
(
	[ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RULES]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULES](
	[RULE_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RULE_DESCRIPTION] [varchar](200) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_RULE_ID_PK] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECURITY_QUESTIONS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECURITY_QUESTIONS](
	[SECURITY_QUESTION_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[SECURITY_QUESTION] [varchar](50) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_SECURITY_QUESTION_ID_PK] PRIMARY KEY CLUSTERED 
(
	[SECURITY_QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGMENT_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGMENT_TYPE](
	[SEGMENT_TYPE_ID] [tinyint] NOT NULL,
	[SEGMENT_TYPE_NAME] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SEGMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[SEGMENT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOFT_SKILLS_QUESTION_BANK]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK](
	[QUESTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[TOPIC_ID] [smallint] NULL,
	[QUESTION] [varchar](max) NULL,
	[OPTION_1] [varchar](200) NULL,
	[OPTION_2] [varchar](200) NULL,
	[OPTION_3] [varchar](200) NULL,
	[OPTION_4] [varchar](200) NULL,
	[CORRECT_OPTION] [varchar](10) NULL,
	[MARKS] [tinyint] NULL,
	[EXPLANATION] [varchar](500) NULL,
	[DIFFICULTY_LEVEL_ID] [tinyint] NULL,
	[IN_CRT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [soft_skills_OES_QB_Q_ID_PK] PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STREAM_COURSE_TYPE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STREAM_COURSE_TYPE](
	[STREAM_COURSE_TYPE_ID] [tinyint] NOT NULL,
	[STREAM_ID] [tinyint] NOT NULL,
	[COURSE_TYPE_ID] [tinyint] NOT NULL,
	[CREATED_DATE] [date] NULL,
	[CREATED_BY] [int] NULL,
 CONSTRAINT [PK_STREAM_COURSE_TYPE] PRIMARY KEY CLUSTERED 
(
	[STREAM_COURSE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STREAMS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STREAMS](
	[STREAM_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STREAM_NAME] [varchar](20) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_STREAM_ID_PK] PRIMARY KEY CLUSTERED 
(
	[STREAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_COURSE_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_COURSE_DETAILS](
	[USER_ID] [int] NULL,
	[COURSE_ID] [smallint] NULL,
	[BATCH_ID] [int] NULL,
	[COURSEWARE_ISSUED] [bit] NULL,
	[ASSIGNMENTS_ISSUED] [bit] NULL,
	[ASSIGNMENTS_SUBMITTED] [bit] NULL,
	[FEEDBACK_GIVEN] [varchar](3) NULL,
	[CERTIFICATE_GIVEN] [varchar](3) NULL,
	[COURSE_AGGR] [smallint] NULL,
	[GRADE_ID] [varchar](2) NULL,
	[FEE_STATUS] [varchar](10) NULL,
	[REMINDER_TYPE_IDS] [varchar](50) NULL,
	[FEE_REMINDER_COUNT] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS](
	[USER_ID] [int] NOT NULL,
	[COURSE_ID] [smallint] NOT NULL,
	[PLANNED_INSTALLMENT1] [int] NULL,
	[PLANNED_INSTALLMENT1_DATE] [date] NULL,
	[ACTUAL_INSTALLMENT1] [int] NULL,
	[ACTUAL_INSTALLMENT1_DATE] [date] NULL,
	[PLANNED_INSTALLMENT2] [int] NULL,
	[PLANNED_INSTALLMENT2_DATE] [date] NULL,
	[ACTUAL_INSTALLMENT2] [int] NULL,
	[ACTUAL_INSTALLMENT2_DATE] [date] NULL,
	[PLANNED_INSTALLMENT3] [int] NULL,
	[PLANNED_INSTALLMENT3_DATE] [date] NULL,
	[ACTUAL_INSTALLMENT3] [int] NULL,
	[ACTUAL_INSTALLMENT3_DATE] [date] NULL,
	[DUE_AMOUNT] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_C_CRT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_C_CRT](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_C_MODULAR]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_C_MODULAR](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_C_TBC]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_C_TBC](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_COMPUTER_NETWORK_CRT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_COMPUTER_NETWORK_CRT](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_CPP_CRT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_CPP_CRT](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_CPP_MODULAR]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_CPP_MODULAR](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_CPP_TBC]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_CPP_TBC](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_JAVA_CRT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_CRT](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_JAVA_MODULAR]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_MODULAR](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_JAVA_TBC]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_TBC](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_JAVASCRIPT_MODULAR]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_JAVASCRIPT_MODULAR](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_TEST_RESULT_OPERATING_SYSTEM_CRT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TEST_RESULT_OPERATING_SYSTEM_CRT](
	[USER_TEST_ID] [int] NULL,
	[Q_NUMBER] [smallint] NULL,
	[QUESTION_ID] [int] NULL,
	[STUDENT_RESPONSE] [varchar](10) NULL,
	[IS_CORRECT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECHNICAL_QUESTION_BANK]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNICAL_QUESTION_BANK](
	[QUESTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[TOPIC_ID] [smallint] NULL,
	[QUESTION] [varchar](max) NULL,
	[OPTION_1] [varchar](200) NULL,
	[OPTION_2] [varchar](200) NULL,
	[OPTION_3] [varchar](200) NULL,
	[OPTION_4] [varchar](200) NULL,
	[CORRECT_OPTION] [varchar](10) NULL,
	[MARKS] [tinyint] NULL,
	[EXPLANATION] [varchar](500) NULL,
	[DIFFICULTY_LEVEL_ID] [tinyint] NULL,
	[IN_CRT] [varchar](3) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [technical_OES_QB_Q_ID_PK] PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_DETAILS](
	[TEST_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[TEST_NUMBER] [tinyint] NULL,
	[TOTAL_QUESTIONS] [tinyint] NULL,
	[TEST_FEES] [decimal](6, 2) NULL,
	[NEGATIVE_MARKING] [varchar](3) NULL,
	[RULES] [varchar](50) NULL,
	[EVALUATION_TYPE_ID] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_TEST_DETAIL_ID_PK] PRIMARY KEY CLUSTERED 
(
	[TEST_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[COURSE_ID] ASC,
	[TEST_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_DIFFICULTY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_DIFFICULTY](
	[TEST_DETAIL_ID] [int] NULL,
	[TOPIC_ID] [smallint] NULL,
	[DIFFICULTY_LEVEL_ID] [tinyint] NULL,
	[NUMBER_OF_QUESTIONS] [smallint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_FEEDBACK]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_FEEDBACK](
	[USER_TEST_ID] [int] NULL,
	[FEEDBACK_QUESTION_ID] [tinyint] NULL,
	[RESPONSE] [varchar](100) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIME_SLOTS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_SLOTS](
	[TIME_SLOTS_ID] [tinyint] NOT NULL,
	[TIME_SLOTS_DESCRIPTION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIME_SLOTS] PRIMARY KEY CLUSTERED 
(
	[TIME_SLOTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOOL_TIPS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_TIPS](
	[TOOL_TIP_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[COURSE_TYPE_ID] [tinyint] NULL,
	[TOOL_TIP_DESCRIPTION] [varchar](200) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_TOOL_TIP_ID_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_TIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOPICS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPICS](
	[TOPIC_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[COURSE_ID] [smallint] NULL,
	[TOPIC_NAME] [varchar](50) NULL,
	[TOPIC_DURATION] [tinyint] NOT NULL,
	[MINIMUM_NUMBER_OF_QUESTIONS_FOR_TEST] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_TOPIC_ID_PK] PRIMARY KEY CLUSTERED 
(
	[TOPIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CATEGORY]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CATEGORY](
	[USER_CATEGORY_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[USER_CATEGORY_NAME] [varchar](10) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
 CONSTRAINT [OES_USER_CATEGORY_ID_PK] PRIMARY KEY CLUSTERED 
(
	[USER_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](20) NULL,
	[LAST_NAME] [varchar](20) NULL,
	[EMAIL_ID] [varchar](100) NULL,
	[MOBILE_NUMBER] [varchar](15) NULL,
	[ADDRESS] [varchar](200) NULL,
	[BIRTHDATE] [date] NULL,
	[COLLEGE] [varchar](50) NULL,
	[DEGREE] [varchar](10) NULL,
	[BRANCH] [varchar](50) NULL,
	[PHOTO_LOCATION] [varchar](500) NULL,
	[PASSWORD] [varchar](32) NOT NULL,
	[SECURITY_QUESTION_ID] [tinyint] NULL,
	[SECURITY_ANSWER] [varchar](20) NULL,
	[USER_CATEGORY_ID] [tinyint] NULL,
	[OCCUPATION] [varchar](20) NULL,
	[ORGANIZATION] [varchar](100) NULL,
	[DESIGNATION] [varchar](20) NULL,
	[DOMAIN] [varchar](20) NULL,
	[ROLE] [varchar](20) NULL,
	[EXPERIENCE] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[GENDER] [varchar](100) NULL,
	[YEAR_OF_GRADUATION] [int] NULL,
	[TIME_SLOTS_IDS] [varchar](30) NULL,
	[SEGMENT_TYPE_ID] [tinyint] NOT NULL,
	[COURSE_ALREADY_DONE] [int] NULL,
	[ACTIVE_STATUS] [bit] NOT NULL,
 CONSTRAINT [OES_USER_ID_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STUDENT]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STUDENT](
	[USER_ID] [int] NULL,
	[PARENT_NAME] [varchar](20) NULL,
	[PARENT_MOBILE] [varchar](15) NULL,
	[CLIENT_CATEGORY_ID] [tinyint] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TEST_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TEST_DETAILS](
	[USER_TEST_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[TEST_DETAIL_ID] [int] NULL,
	[MARKS_RECEIVED] [smallint] NULL,
	[TIME_TAKEN] [time](7) NULL,
	[NUMBER_OF_REGISTRATION] [tinyint] NULL,
	[FEE_STATUS] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[ATTEMPTED] [tinyint] NULL,
 CONSTRAINT [OES_USER_TEST_ID_PK] PRIMARY KEY CLUSTERED 
(
	[USER_TEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_STUDENT_COURSE_INSTALLMENT_DETAILS]    Script Date: 29-06-2020 11:17:43 ******/
CREATE NONCLUSTERED INDEX [IX_STUDENT_COURSE_INSTALLMENT_DETAILS] ON [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER_PROFILE] ADD  CONSTRAINT [OES_USER_PROFILE_ADDRESS_MAX_200_CHAR]  DEFAULT (' ') FOR [ADDRESS]
GO
ALTER TABLE [dbo].[BATCH_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__BATCH_DET__COURS__6EF57B66] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[BATCH_DETAILS] CHECK CONSTRAINT [FK__BATCH_DET__COURS__6EF57B66]
GO
ALTER TABLE [dbo].[BATCH_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__BATCH_DET__FACUL__6FE99F9F] FOREIGN KEY([FACULTY_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[BATCH_DETAILS] CHECK CONSTRAINT [FK__BATCH_DET__FACUL__6FE99F9F]
GO
ALTER TABLE [dbo].[BATCH_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BATCH_DETAILS_BATCH_DETAILS] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[BATCH_DETAILS] CHECK CONSTRAINT [FK_BATCH_DETAILS_BATCH_DETAILS]
GO
ALTER TABLE [dbo].[BATCH_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BATCH_DETAILS_BATCH_DETAILS1] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[BATCH_DETAILS] CHECK CONSTRAINT [FK_BATCH_DETAILS_BATCH_DETAILS1]
GO
ALTER TABLE [dbo].[BATCH_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BATCH_DETAILS_SEGMENT_TYPE] FOREIGN KEY([SEGMENT_TYPE_ID])
REFERENCES [dbo].[SEGMENT_TYPE] ([SEGMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[BATCH_DETAILS] CHECK CONSTRAINT [FK_BATCH_DETAILS_SEGMENT_TYPE]
GO
ALTER TABLE [dbo].[COURSE_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK__COURSE_FE__COURS__7B5B524B] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[COURSE_FEEDBACK] CHECK CONSTRAINT [FK__COURSE_FE__COURS__7B5B524B]
GO
ALTER TABLE [dbo].[COURSE_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK__COURSE_FE__USER___7A672E12] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[COURSE_FEEDBACK] CHECK CONSTRAINT [FK__COURSE_FE__USER___7A672E12]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK__COURSES__COURSE___5DCAEF64] FOREIGN KEY([COURSE_TYPE_ID])
REFERENCES [dbo].[COURSE_TYPE] ([COURSE_TYPE_ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK__COURSES__COURSE___5DCAEF64]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK__COURSES__EVALUAT__5FB337D6] FOREIGN KEY([EVALUATION_TYPE_ID])
REFERENCES [dbo].[EVALUATION_TYPE] ([EVALUATION_TYPE_ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK__COURSES__EVALUAT__5FB337D6]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK__COURSES__STREAM___5CD6CB2B] FOREIGN KEY([STREAM_ID])
REFERENCES [dbo].[STREAMS] ([STREAM_ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK__COURSES__STREAM___5CD6CB2B]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_STREAMS] FOREIGN KEY([STREAM_ID])
REFERENCES [dbo].[STREAMS] ([STREAM_ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_STREAMS]
GO
ALTER TABLE [dbo].[EMPLOYEE_DETAILS]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_CATEGORY_ID])
REFERENCES [dbo].[EMPLOYEE_CATEGORY] ([EMPLOYEE_CATEGORY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE___USER___4BAC3F29] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_DETAILS] CHECK CONSTRAINT [FK__EMPLOYEE___USER___4BAC3F29]
GO
ALTER TABLE [dbo].[ENQUIRY]  WITH CHECK ADD  CONSTRAINT [FK_ENQUIRY_SEGMENT_TYPE] FOREIGN KEY([SEGMENT_TYPE_ID])
REFERENCES [dbo].[SEGMENT_TYPE] ([SEGMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[ENQUIRY] CHECK CONSTRAINT [FK_ENQUIRY_SEGMENT_TYPE]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_BATCH_DETAILS] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_BATCH_DETAILS]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_COURSES]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_EXPENSE_TYPE1] FOREIGN KEY([EXPENSE_TYPE_ID])
REFERENCES [dbo].[EXPENSE_TYPE] ([EXPENSE_TYPE_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_EXPENSE_TYPE1]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_ORGANIZATION] FOREIGN KEY([ORGANIZATION_ID])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_ORGANIZATION]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_PAYMENT_MODE] FOREIGN KEY([PAYMENT_MODE_ID])
REFERENCES [dbo].[PAYMENT_MODE] ([PAYMENT_MODE_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_PAYMENT_MODE]
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSE_DETAIL_SEGMENT_TYPE] FOREIGN KEY([SEGMENT_TYPE_ID])
REFERENCES [dbo].[SEGMENT_TYPE] ([SEGMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[EXPENSE_DETAIL] CHECK CONSTRAINT [FK_EXPENSE_DETAIL_SEGMENT_TYPE]
GO
ALTER TABLE [dbo].[FACULTY_SKILLS]  WITH CHECK ADD  CONSTRAINT [FK__FACULTY_S__USER___4E88ABD4] FOREIGN KEY([FACULTY_USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[FACULTY_SKILLS] CHECK CONSTRAINT [FK__FACULTY_S__USER___4E88ABD4]
GO
ALTER TABLE [dbo].[FEEDBACK_QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_QUESTIONS_FEEDBACK_CATEGORY] FOREIGN KEY([FEEDBACK_CATEGORY_ID])
REFERENCES [dbo].[FEEDBACK_CATEGORY] ([FEEDBACK_CATEGORY_ID])
GO
ALTER TABLE [dbo].[FEEDBACK_QUESTIONS] CHECK CONSTRAINT [FK_FEEDBACK_QUESTIONS_FEEDBACK_CATEGORY]
GO
ALTER TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__GENERAL_A__COURS__22751F6C] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK] CHECK CONSTRAINT [FK__GENERAL_A__COURS__22751F6C]
GO
ALTER TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK]  WITH CHECK ADD FOREIGN KEY([DIFFICULTY_LEVEL_ID])
REFERENCES [dbo].[DIFFICULTY_LEVEL] ([DIFFICULTY_LEVEL_ID])
GO
ALTER TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__GENERAL_A__TOPIC__236943A5] FOREIGN KEY([TOPIC_ID])
REFERENCES [dbo].[TOPICS] ([TOPIC_ID])
GO
ALTER TABLE [dbo].[GENERAL_APTITUDE_QUESTION_BANK] CHECK CONSTRAINT [FK__GENERAL_A__TOPIC__236943A5]
GO
ALTER TABLE [dbo].[LECTURE]  WITH CHECK ADD  CONSTRAINT [FK_LECTURE_BATCH_DETAILS] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[LECTURE] CHECK CONSTRAINT [FK_LECTURE_BATCH_DETAILS]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_BATCH_DETAILS] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_BATCH_DETAILS]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_COURSES]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_ORGANIZATION] FOREIGN KEY([ORGANIZATION_ID])
REFERENCES [dbo].[ORGANIZATION] ([ORGANIZATION_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_ORGANIZATION]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_PAYMENT_MODE] FOREIGN KEY([PAYMENT_MODE_ID])
REFERENCES [dbo].[PAYMENT_MODE] ([PAYMENT_MODE_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_PAYMENT_MODE]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_REVENUE_TYPE] FOREIGN KEY([REVENUE_TYPE_ID])
REFERENCES [dbo].[REVENUE_TYPE] ([REVENUE_TYPE_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_REVENUE_TYPE]
GO
ALTER TABLE [dbo].[REVENUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_REVENUE_DETAIL_SEGMENT_TYPE] FOREIGN KEY([SEGMENT_TYPE_ID])
REFERENCES [dbo].[SEGMENT_TYPE] ([SEGMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[REVENUE_DETAIL] CHECK CONSTRAINT [FK_REVENUE_DETAIL_SEGMENT_TYPE]
GO
ALTER TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__SOFT_SKIL__COURS__1CBC4616] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK] CHECK CONSTRAINT [FK__SOFT_SKIL__COURS__1CBC4616]
GO
ALTER TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK]  WITH CHECK ADD FOREIGN KEY([DIFFICULTY_LEVEL_ID])
REFERENCES [dbo].[DIFFICULTY_LEVEL] ([DIFFICULTY_LEVEL_ID])
GO
ALTER TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__SOFT_SKIL__TOPIC__1DB06A4F] FOREIGN KEY([TOPIC_ID])
REFERENCES [dbo].[TOPICS] ([TOPIC_ID])
GO
ALTER TABLE [dbo].[SOFT_SKILLS_QUESTION_BANK] CHECK CONSTRAINT [FK__SOFT_SKIL__TOPIC__1DB06A4F]
GO
ALTER TABLE [dbo].[STREAM_COURSE_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_STREAM_COURSE_TYPE_COURSE_TYPE] FOREIGN KEY([COURSE_TYPE_ID])
REFERENCES [dbo].[COURSE_TYPE] ([COURSE_TYPE_ID])
GO
ALTER TABLE [dbo].[STREAM_COURSE_TYPE] CHECK CONSTRAINT [FK_STREAM_COURSE_TYPE_COURSE_TYPE]
GO
ALTER TABLE [dbo].[STREAM_COURSE_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_STREAM_COURSE_TYPE_STREAMS] FOREIGN KEY([STREAM_ID])
REFERENCES [dbo].[STREAMS] ([STREAM_ID])
GO
ALTER TABLE [dbo].[STREAM_COURSE_TYPE] CHECK CONSTRAINT [FK_STREAM_COURSE_TYPE_STREAMS]
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_DETAILS_BATCH_DETAILS] FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[BATCH_DETAILS] ([BATCH_ID])
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS] CHECK CONSTRAINT [FK_STUDENT_COURSE_DETAILS_BATCH_DETAILS]
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_DETAILS_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS] CHECK CONSTRAINT [FK_STUDENT_COURSE_DETAILS_COURSES]
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_DETAILS_USER_PROFILE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[STUDENT_COURSE_DETAILS] CHECK CONSTRAINT [FK_STUDENT_COURSE_DETAILS_USER_PROFILE]
GO
ALTER TABLE [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_INSTALLMENT_DETAILS_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS] CHECK CONSTRAINT [FK_STUDENT_COURSE_INSTALLMENT_DETAILS_COURSES]
GO
ALTER TABLE [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_INSTALLMENT_DETAILS_USER_PROFILE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[STUDENT_COURSE_INSTALLMENT_DETAILS] CHECK CONSTRAINT [FK_STUDENT_COURSE_INSTALLMENT_DETAILS_USER_PROFILE]
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_CRT]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_CRT]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_MODULAR]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_MODULAR]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_TBC]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_C_TBC]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_COMPUTER_NETWORK_CRT]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_COMPUTER_NETWORK_CRT]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_CRT]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_CRT]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_MODULAR]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_MODULAR]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_TBC]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_CPP_TBC]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_CRT]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_CRT]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_MODULAR]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_MODULAR]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_TBC]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVA_TBC]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVASCRIPT_MODULAR]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_JAVASCRIPT_MODULAR]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_OPERATING_SYSTEM_CRT]  WITH CHECK ADD FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TECHNICAL_QUESTION_BANK] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[STUDENT_TEST_RESULT_OPERATING_SYSTEM_CRT]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[TECHNICAL_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__TECHNICAL__COURS__17036CC0] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[TECHNICAL_QUESTION_BANK] CHECK CONSTRAINT [FK__TECHNICAL__COURS__17036CC0]
GO
ALTER TABLE [dbo].[TECHNICAL_QUESTION_BANK]  WITH CHECK ADD FOREIGN KEY([DIFFICULTY_LEVEL_ID])
REFERENCES [dbo].[DIFFICULTY_LEVEL] ([DIFFICULTY_LEVEL_ID])
GO
ALTER TABLE [dbo].[TECHNICAL_QUESTION_BANK]  WITH CHECK ADD  CONSTRAINT [FK__TECHNICAL__TOPIC__17F790F9] FOREIGN KEY([TOPIC_ID])
REFERENCES [dbo].[TOPICS] ([TOPIC_ID])
GO
ALTER TABLE [dbo].[TECHNICAL_QUESTION_BANK] CHECK CONSTRAINT [FK__TECHNICAL__TOPIC__17F790F9]
GO
ALTER TABLE [dbo].[TEST_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TEST_DETA__COURS__66603565] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[TEST_DETAILS] CHECK CONSTRAINT [FK__TEST_DETA__COURS__66603565]
GO
ALTER TABLE [dbo].[TEST_DETAILS]  WITH CHECK ADD FOREIGN KEY([EVALUATION_TYPE_ID])
REFERENCES [dbo].[EVALUATION_TYPE] ([EVALUATION_TYPE_ID])
GO
ALTER TABLE [dbo].[TEST_DIFFICULTY]  WITH CHECK ADD FOREIGN KEY([DIFFICULTY_LEVEL_ID])
REFERENCES [dbo].[DIFFICULTY_LEVEL] ([DIFFICULTY_LEVEL_ID])
GO
ALTER TABLE [dbo].[TEST_DIFFICULTY]  WITH CHECK ADD FOREIGN KEY([TEST_DETAIL_ID])
REFERENCES [dbo].[TEST_DETAILS] ([TEST_DETAIL_ID])
GO
ALTER TABLE [dbo].[TEST_DIFFICULTY]  WITH CHECK ADD  CONSTRAINT [FK__TEST_DIFF__TOPIC__72C60C4A] FOREIGN KEY([TOPIC_ID])
REFERENCES [dbo].[TOPICS] ([TOPIC_ID])
GO
ALTER TABLE [dbo].[TEST_DIFFICULTY] CHECK CONSTRAINT [FK__TEST_DIFF__TOPIC__72C60C4A]
GO
ALTER TABLE [dbo].[TEST_FEEDBACK]  WITH CHECK ADD FOREIGN KEY([USER_TEST_ID])
REFERENCES [dbo].[USER_TEST_DETAILS] ([USER_TEST_ID])
GO
ALTER TABLE [dbo].[TOOL_TIPS]  WITH CHECK ADD FOREIGN KEY([COURSE_TYPE_ID])
REFERENCES [dbo].[COURSE_TYPE] ([COURSE_TYPE_ID])
GO
ALTER TABLE [dbo].[TOPICS]  WITH CHECK ADD  CONSTRAINT [FK__TOPICS__COURSE_I__628FA481] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([COURSE_ID])
GO
ALTER TABLE [dbo].[TOPICS] CHECK CONSTRAINT [FK__TOPICS__COURSE_I__628FA481]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK__USER_PROF__SECUR__403A8C7D] FOREIGN KEY([SECURITY_QUESTION_ID])
REFERENCES [dbo].[SECURITY_QUESTIONS] ([SECURITY_QUESTION_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [FK__USER_PROF__SECUR__403A8C7D]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK__USER_PROF__USER___412EB0B6] FOREIGN KEY([USER_CATEGORY_ID])
REFERENCES [dbo].[USER_CATEGORY] ([USER_CATEGORY_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [FK__USER_PROF__USER___412EB0B6]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROFILE_SEGMENT_TYPE] FOREIGN KEY([SEGMENT_TYPE_ID])
REFERENCES [dbo].[SEGMENT_TYPE] ([SEGMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [FK_USER_PROFILE_SEGMENT_TYPE]
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD FOREIGN KEY([CLIENT_CATEGORY_ID])
REFERENCES [dbo].[CLIENT_CATEGORY] ([CLIENT_CATEGORY_ID])
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK__USER_STUD__USER___5070F446] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_STUDENT] CHECK CONSTRAINT [FK__USER_STUD__USER___5070F446]
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS]  WITH CHECK ADD FOREIGN KEY([TEST_DETAIL_ID])
REFERENCES [dbo].[TEST_DETAILS] ([TEST_DETAIL_ID])
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS]  WITH CHECK ADD FOREIGN KEY([TEST_DETAIL_ID])
REFERENCES [dbo].[TEST_DETAILS] ([TEST_DETAIL_ID])
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__USER_TEST__USER___22401542] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS] CHECK CONSTRAINT [FK__USER_TEST__USER___22401542]
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__USER_TEST__USER___2334397B] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_PROFILE] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_TEST_DETAILS] CHECK CONSTRAINT [FK__USER_TEST__USER___2334397B]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [OES_COURSES_COURSEWARE_EXIST_YESorNO] CHECK  (([COURSEWARE_EXIST]='NO' OR [COURSEWARE_EXIST]='YES'))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [OES_COURSES_COURSEWARE_EXIST_YESorNO]
GO
ALTER TABLE [dbo].[EVALUATION_TYPE]  WITH CHECK ADD  CONSTRAINT [OES_EVAL_TYPE_OFFLINE_CHECK_YESorNO] CHECK  (([OFFLINE_CHECK]='NO' OR [OFFLINE_CHECK]='YES'))
GO
ALTER TABLE [dbo].[EVALUATION_TYPE] CHECK CONSTRAINT [OES_EVAL_TYPE_OFFLINE_CHECK_YESorNO]
GO
/****** Object:  StoredProcedure [dbo].[create_question_bank]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDURE FOR CREATING QUESTION BANK WITH DYNAMIC NAME

create procedure [dbo].[create_question_bank]
	@table_name varchar(50)
	as 
	begin
		declare @sql nvarchar(max)
		set @sql = 'create table '+UPPER(@table_name)+'_QUESTION_BANK(
					QUESTION_ID INT IDENTITY(1,1) CONSTRAINT '+@table_name+'_OES_QB_Q_ID_PK PRIMARY KEY,
					COURSE_ID SMALLINT FOREIGN KEY REFERENCES COURSES(COURSE_ID),
					TOPIC_ID SMALLINT FOREIGN KEY REFERENCES  TOPICS(TOPIC_ID),

					QUESTION VARCHAR(MAX), 
					OPTION_1 VARCHAR(200),
					OPTION_2 VARCHAR(200),
					OPTION_3 VARCHAR(200),
					OPTION_4 VARCHAR(200),
					CORRECT_OPTION VARCHAR(10),
					MARKS TINYINT,
					EXPLANATION VARCHAR(500),
					
					DIFFICULTY_LEVEL_ID TINYINT ,
					IN_CRT VARCHAR(3),
					CREATED_BY INT,
					CREATED_DATE DATETIME
					FOREIGN KEY (DIFFICULTY_LEVEL_ID) REFERENCES DIFFICULTY_LEVEL(DIFFICULTY_LEVEL_ID)
				)'
				execute sp_executesql @sql

	end
GO
/****** Object:  StoredProcedure [dbo].[CREATE_RESULT_TABLE]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--PROCEDURE FOR CREATING RESULT TABLE COURSE WISE

CREATE procedure [dbo].[CREATE_RESULT_TABLE](@table_name varchar(50),@stream_name varchar(100),@course_type_name varchar(10))
	
	as 
	begin
		declare @sql nvarchar(max)
		
		set @sql = 'CREATE TABLE STUDENT_TEST_RESULT_'+UPPER(@table_name)+'_'+UPPER(@course_type_name)+'(
					USER_TEST_ID INT FOREIGN KEY REFERENCES USER_TEST_DETAILS(USER_TEST_ID),
					Q_NUMBER SMALLINT,
					QUESTION_ID INT FOREIGN KEY REFERENCES '+UPPER(@stream_name)+'_QUESTION_BANK(QUESTION_ID),
					STUDENT_RESPONSE VARCHAR(10),
					IS_CORRRECT VARCHAR(3),
					CREATED_BY INT,
					CREATED_DATE DATETIME)'
				execute sp_executesql @sql

	end
GO
/****** Object:  StoredProcedure [dbo].[question_bank_checkident]    Script Date: 29-06-2020 11:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDURE FOR CREATING A TRIGGER ON DELETE FOR NEWLY CREATED QUESTIN BANK

create procedure [dbo].[question_bank_checkident]
	@table_name varchar(50)
	as
	begin
		declare @sql nvarchar(max)
		set @sql = 'create trigger '+@table_name+'_question_bank_checkident
				on '+@table_name+'_question_bank
				after delete 
					as
					begin 
						declare @max_'+@table_name+'_question_id int
						select @max_'+@table_name+'_question_id = isNull(max(question_id), 0)
						from technical_question_bank
						DBCC CHECKIDENT ('+ UPPER(@table_name) +'_question_bank, RESEED, @max_'+@table_name+'_question_id)
					end'
					execute sp_executesql @sql

	end




--TRIGGER ON STREAM TABLE TO CREATE QUESTION BANK 

GO
USE [master]
GO
